.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
include/
dags/__pycache__/
dags/data_lake/vnstock_prices_csv/year=*/
